<h1>Sign in here</h1>

<%= form_for(:session, :url => sessions_path) do |f| %>

	<div class = "field">
		<%= f.label :email %><br	/>
		<%= f.text_field :email %>
	</div>
	
	<div class = "field">
		<%= f.label :Enter_Password %><br	/>
		<%= f.password_field :password%>
	</div>
	<p><%= link_to "forgotten password?", new_password_reset_path %></p>

	<div class= "actions">
		<%= f.submit "Submit" %>
	</div>
	
	<% end %>
	
<p>New User? <%= link_to "Sign up now", signup_path %></p>
